<header>
  <nav class="navbar">
    <div class="navbar__container">
      <!-- Hamburger Icon for mobile view -->
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

      <!-- Desktop Menu -->
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="" class="navbar__links">Home</a>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__links">About Us</a>
        </li>

        <!-- Services Dropdown -->
        <li class="navbar__item dropdown">
          <a href="" class="navbar__links">Services</a>
          <ul class="dropdown__menu">
            <li><a href="" class="dropdown__link">Manned Guarding</a></li>
            <li><a href="" class="dropdown__link">Mobile Patrols</a></li>
            <li>
              <a href="" class="dropdown__link">Key Holding </a>
            </li>
            <li><a href="" class="dropdown__link">CCTV Monitoring</a></li>
            <li><a href="" class="dropdown__link">Event Security</a></li>
          </ul>
        </li>

        <li>
          <a href=""><img src="Assets/Logo.png" class="sp-logo" alt="" /></a>
        </li>

        <li class="navbar__item">
          <a href="" class="navbar__links">Careers</a>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__links">Gallery</a>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__links">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Offscreen Menu for mobile -->
  <div class="off-screen">
    <ul class="mmenu">
      <li class="menu-item"><a href="" class="btn">Home</a></li>
      <li class="menu-item"><a href="" class="btn">About Us</a></li>

      <!-- Services -->
      <li class="menu-item">
        <span class="btn toggle-btn">Services</span>
        <ul class="menu-item__sub">
          <li><a href="" class="dropdown__link">Manned Guarding</a></li>
          <li><a href="" class="dropdown__link">Mobile Patrols</a></li>
          <li>
            <a href="" class="dropdown__link">Key Holding</a>
          </li>
          <li><a href="" class="dropdown__link">CCTV Monitoring</a></li>
          <li><a href="" class="dropdown__link">Event Security</a></li>
        </ul>
      </li>

      <li class="menu-item"><a href="" class="btn">Careers</a></li>
      <li class="menu-item"><a href="" class="btn">Gallery</a></li>
      <li class="menu-item"><a href="" class="btn">Contact Us</a></li>
    </ul>
  </div>
</header>
